@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    overflow: hidden;
}



.gamecontainer{
    background-image: url(op.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.gameOver{
    visibility: hidden;
    position: relative;
    top: 50px;
    color: white;
    font-family: 'Gorditas', cursive;
    font-size: 51px;
    text-align: center;
}

.wel{
    visibility: visible;
    position: relative;
    top: 50px;
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-size: 51px;
    text-align: center;
}

#scoreCount{
    position: absolute;
    top: 23px;
    left: 12px;
    border: 2px solid white;
    padding: 10px;
    font-family: 'Cantarell', sans-serif;

    width: 158px;
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.dino{
    background-image: url(t.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    position: absolute;
    height: 304px;
    bottom: 0;
    left: 106px;
}

.obstacle{
    width: 119px;
    height: 245px;
    background-image: url(yoda.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}


.animateDino{
    animation: dino 0.6s linear;

}


@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 410px;
    }
    100%{
        bottom: 0;
    }
}


@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}